body            { font-family: Verdana; background-color: #EEE; }
h1              { color: red; font-size: 20px; }
label           { width: 8em; float: left; text-align: right; margin-right: 0.5em;
                  display: block; font-size: 13.333px; }
fieldset        { border: 1px solid red; width: 20em; }
fieldset h1     { text-align: center; }
table           { border: 1px solid gray; border-collapse: collapse;
                  margin-top: 10px; font-size: 14px; font-family: Verdana;
                  font-weight: 400; background: #FFF; }
td              { border: 1px solid gray; padding: 3px; }
th              { border: 1px solid #000; background-color: gray; color: #FFF; padding: 3px; }
a               { color: black; }

.login          { margin-left: 8.5em; }
.gt             { color: green; font-weight: bold; }
.le, .user      { color: red; font-weight: bold; }
.error          { background: #F0D6D6; text-align: center; padding: 0.5em; }
.info           { background: #00BFFF; text-align: center; padding: 0.5em; }